* {
  box-sizing: border-box;
}

:root {
  --body-color: #333b45;
  --container: #1f2933;
  --shadow: rgba(0, 0, 0, 0.2);
  --text-color: #fff;
  --border-color: #f0f0f0;
  --success: #2ecc71;
  --error: #e74c3c; 
  --btn-color: #3498db;
  --btn-color-hover: #20608b;
  --btn-hover-text: #90c5f1;
}

body {
  background-color: var(--body-color);
  font-family: 'Open Sans', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.container {
  background-color: var(--container);
  border-radius: 5px;
  box-shadow: 0 2px 10px var(--shadow);
  width: 400px;
}

h2 {
  text-align: center;
  margin: 0 0 20px;
  color: var(--text-color);
}

.form {
  padding: 30px 40px;
}

.form-control {
  margin-bottom: 10px;
  padding-bottom: 10px;
  position: relative;
}

.form-control label {
  display: block;
  margin-bottom: 5px;
  color: var(--text-color);
}

.form-control input {
  border: 2px solid var(--border-color);
  border-radius: 4px;
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 14px;
}

.form-control input:focus {
  outline: 0;
  border-color: var(--label-color-text);
}

.form-control.success input {
  border-color: var(--success);
}

.form-control.error input {
  border-color: var(--error);
}

.form-control small {
  color: var(--error);  
  position: absolute;
  bottom: 2;
  left: 0;
  visibility: hidden;  
}

.form-control.error small {
  visibility: visible;  
}

.form button {
  cursor: pointer;
  background-color: var(--btn-color);
  border: 2px solid var(--btn-color);
  border-radius: 4px;
  color: var(--text-color);
  display: block;
  font-size: 18px;
  padding: 10px;
  margin: 30px 0 10px 0px;
  width: 100%;
  transition: 500ms ease-out;
}

.form button:hover {
  background: var(--btn-color-hover);
  border: 2px solid var(--btn-color-hover);
  color: var(--btn-hover-text);
}